// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content
@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
//
// Useful for "Skip to main content" links; see https://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
//
// Credit: HTML5 Boilerplate
@mixin sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

// CSS image replacement (text hide)
@mixin text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// Text truncate
// Requires inline-block or block for proper styling
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Button Mixins
@mixin button-reset {
	display: inline-block;
	margin: 0;
	line-height: normal;
	box-shadow: none;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	transition: .18s background-color ease,
	            .18s color ease,
	            .18s border-color ease;
	user-select: none;
	width: auto;
	height: auto;
}

@mixin button {
	@include button-reset;
	text-transform: none;
	color: $button-text-color;
	background-color: $button-bg-color;
	border: 0;
	font-family: inherit;
	border-radius: $border-radius-base;
	font-weight: 600;

	&.disabled,
	&:disabled {
		cursor: not-allowed;
		opacity: .65;
	}

	&:hover {
		text-decoration: none;
		color: $button-text-color;
		background-color: darken($button-bg-color, 5%);
	}

	&:focus {
		outline: 0;
		box-shadow: 0 0 10px rgba($accent-color, .7);
	}
}

@mixin button-transparent {
	background-color: transparent;
	border: 1px solid $button-bg-color;
	color: $button-bg-color;

	&:hover {
		color: $button-text-color;
		border-color: $button-bg-color;
		background-color: $button-bg-color;
	}
}

@mixin button-sm {
	padding: 9px 22px;
	font-size: 14px;
}

@mixin button-md {
	padding: 13px 28px;
	font-size: 16px;
}

@mixin button-lg {
	padding: 18px 38px;
	font-size: 16px;
}

// FontAwesome
// https://fontawesome.com/how-to-use/on-the-web/advanced/css-pseudo-elements
@mixin font-awesome($char, $type: solid) {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	content: unquote("\"#{$char}\"");

	@if ($type == solid) {
		font-family: $font-awesome;
		font-weight: 900;
	} @else if ($type == brands) {
		font-family: $font-awesome-brands;
		font-weight: 400;
	} @else if ($type == regular) {
		font-family: $font-awesome;
		font-weight: 400;
	}
}

// Placeholders
@mixin placeholder {
	::-webkit-input-placeholder { @content }
	:-moz-placeholder { @content }
	::-moz-placeholder { @content }
	:-ms-input-placeholder { @content }
}

@mixin placeholder-at {
	&::-webkit-input-placeholder { @content }
	&:-moz-placeholder { @content }
	&::-moz-placeholder { @content }
	&:-ms-input-placeholder { @content }
}

// Loading spinner
@keyframes rot {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

@mixin spinner(
	$color: $white,
	$opacity: .35,
	$size: 40px,
	$border-size: 6px
) {
	border: $border-size solid rgba($color, $opacity);
	border-top-color: rgba($color, $opacity * 2.5);
	border-radius: 100%;
	height: $size;
	width: $size;
	animation: rot .8s infinite linear;
}

@mixin slide-nav-arrow {
	@include button-reset;
	border: 1px solid $border-color;
	border-radius: $border-radius-base;
	color: $text-color;
	width: 46px;
	height: 46px;
	font-size: 14px;
	padding: 0;
	text-align: center;
	line-height: normal;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: $button-bg-color;
		color: $button-text-color;
		border-color: transparent;
	}

	@include media-breakpoint-down(sm) {
		width: 38px;
		height: 38px;
	}

	&.slick-disabled {
		opacity: .3;
		cursor: not-allowed;
	}
}
