// Grid
// Variables used by Bootstrap Grid (v4)
// =========================================
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1350px
) !default;

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 940px,
	xl: 1320px
) !default;

$grid-columns: 12 !default;
$grid-gutter-width-base: 30px !default;
$grid-gutter-widths: (
	xs: $grid-gutter-width-base,
	sm: $grid-gutter-width-base,
	md: $grid-gutter-width-base,
	lg: $grid-gutter-width-base,
	xl: $grid-gutter-width-base
) !default;

// WordPress Galleries gutter widths
$grid-gutter-widths-galleries: (
	xs: $grid-gutter-width-base / 3,
	sm: $grid-gutter-width-base / 3,
	md: $grid-gutter-width-base / 3,
	lg: $grid-gutter-width-base / 3,
	xl: $grid-gutter-width-base / 3
) !default;

// Base Generic
// =========================================
$font-size-base: 16px !default;
$line-height-base: 1.5 !default;
$border-radius-base: 3px !default;
$letter-spacing-base: -.01em !default;

// Hero
// =========================================
$hero-home-height-lg: 300px !default;
$hero-home-height-md: 300px !default;
$hero-home-height-sm: 300px !default;

$hero-height-xl: 300px !default;
$hero-height-lg: 250px !default;
$hero-height-md: 200px !default;
$hero-height-sm: 150px !default;

// Sections & Spacing
// =========================================
$section-padding-lg: 70px !default;
$section-padding-md: 50px !default;
$section-padding-sm: 35px !default;

$widget-margin-lg: 60px !default;
$widget-margin-md: 50px !default;
$widget-margin-sm: 40px !default;

// Colors
// =========================================
$white: #fff !default;
$black: #000 !default;
$grey: #F5F5F5 !default;
$red: #ff786d !default;
$green: #a4ecd3 !default;
$green-dark: #0D9502 !default;
$blue: #54b5f7 !default;

$body-bg: $white !default;
$accent-color: #F08804 !default;
$text-color: #4A4A4A !default;
$secondary-text-color: #00A8DE !default;
$tertiary-text-color: #B12704 !default;
$text-color-dark: #394E64 !default;
$text-color-light: #8E8E8E !default;
$text-on-accent: $white !default;
$border-color: #DDDDDD !default;
$border-color-dark: #CCCCCC !default;

$button-bg-color: $accent-color !default;
$button-text-color: $text-on-accent !default;
$button-border-color: transparent !default;

$dark-background: #283848 !default;
$darker-background: #212F3D !default;
$border-on-dark: rgba(white, .1) !default;

// Fonts
// =========================================
$primary-font: "Source Sans Pro", sans-serif;
$secondary-font: $primary-font;
$font-awesome: "Font Awesome 5 Free";
$font-awesome-brands: "Font Awesome 5 Brands"
